@import "../../../static/css/function";
@import "../../../static/css/variables";

/* Hero Video */
.HeroVideo {
  margin-top: 49px;
  &_text {
    h1 {
      font-family: "Circe Light", sans-serif;
      font-style: normal;
      font-size: 69px;
      font-weight: 300;
      line-height: 121.9%;
      letter-spacing: -0.025em;
    }
    a {
      color: $black;
      font-family: "Circe Light", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 29px;
      line-height: 121.4%;
      position: relative;
      text-decoration: none;
      transition: all ease 300ms;
      &:after {
        content: "";
        border: 1px solid rgba($color: $black, $alpha: 0.3);
        position: absolute;
        bottom: -5px;
        left: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: all ease 500ms;
        width: 100%;
      }
      &:hover {
        color: $blue;
        transition: all ease 500ms;
        &:after {
          border: 1px solid rgba($color: $blue, $alpha: 0.3);
          transition: all ease 500ms;
        }
      }
    }
    .loaded-link {
      &:after{
        transform: scaleX(1);
      }
      
    }
    @include respond-above(sm) {
      h1 {
        font-size: 30px;
      }
      a {
        font-size: 20px;
      }
    }
  }
  &_video {
    margin-top: 159px;
    video {
      width: 100%;
    }
    @include respond-above(sm) {
      margin-top: 100px;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}
