@import "../../../static/css/function";
@import "../../../static/css/variables";

/* Services */
.Services {
  margin-top: 50px;
  &_list {
    margin-left: 240px;
    @include respond-above(lg) {
      margin-left: 150px;
    }
    @include respond-above(sm) {
      margin-left: 0;
    }
    &_wrap {
      margin-bottom: 35px;
    }
    &_title {
      cursor: pointer;
      font-size: 36px;
      line-height: 121.4%;
      transition: all ease 500ms;
      &:hover {
        color: $blue;
        transition: all ease 500ms;
        &:after {
          background: url(/images/angle-down-blue.svg) no-repeat;
          transition: all ease 500ms;
          background-size: contain;
        }
      }
      &:after {
        content: "";
        background: url(/images/angle-down.svg) no-repeat;
        background-size: contain;
        display: inline-block;
        height: 10px;
        margin-left: 10px;
        transition: all ease 500ms;
        width: 15px;
        top: -3px;
        position: relative;
      }
      &.active {
        &:after {
          transform: rotate(180deg);
        }
      }
      @include respond-above(sm) {
        font-size: 20px;
        &:after {
          height: 6px;
          width: 12px;
          top: -2px;
        }
      }
    }
    &_description {
      list-style: none;
      margin: 0 0 0 2px;
      padding: 0;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease-out;
      li {
        font-family: "Circe Light", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 164.4%;
        @include respond-above(sm) {
          font-size: 14px;
        }
      }
      &.active {
        max-height: 500px;
        transition: max-height 0.4s ease-in;
      }
    }
  }
  @include respond-above(sm) {
    margin-top: 50px;
  }
}
