@import "./function";
@import "./variables";

.section-title {
  display: block;
  font-size: 60px;
  line-height: 117.4%;
}
.mt185 {
  margin-top: 185px;
}
.sm-column {
  @include respond-above(sm) {
    flex-direction: column;
  }
}
