$white: #ffffff;
$black: #000000;
$blue: #1f4ce4;
$textColor: #1a191b;
$descriptionText: #4e4f61;
$navigationBg: #03030c;
$footerBg: #15141a;
$footerTitle: #cccccc;
$copyrightColor: #dddddd;
$activeLink: #1181ee;
$portfolioList: #c4c4c4;

// A map of breakpoints.
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);
