.anim-container {
    position: absolute;
    top:0;
    left: 0;
    z-index: 100;
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s ease-in;
}

.fade {
    opacity: 0;
}