@import "../../../static/css/function";
@import "../../../static/css/variables";

/* Navigation */
.Navigation {
  background: $navigationBg;
  color: black;
  height: 657px;
  padding: 47px 60px 74px 60px;
  position: fixed;
  transition: top ease-in-out 500ms;
  top: -675px;
  width: 100%;
  z-index: 1090;
  .close {
    cursor: pointer;
  }
  .navbar {
    position: relative;
    .menu {
      list-style: none;
      margin-top: 230px;
      max-width: 1096px;
      padding: 0;
      li {
        display: inline-block;
        position: relative;
        margin-left: 149px;
        a {
          color: $white;
          font-size: 66px;
          line-height: 117.4%;
          text-decoration: none;
          transition: all ease 500ms;
          &.active,
          &:hover {
            color: $activeLink;
            transition: all ease 500ms;
          }
        }
        &:before {
          content: "";
          border: 4px solid $white;
          display: block;
          position: absolute;
          width: 92px;
          width: 92px;
          top: 50%;
          margin-top: -2px;
          left: -120px;
        }
        &:first-child {
          margin-left: 0;
          &:before {
            display: none;
          }
        }
        &:last-child {
          margin-left: 124px;
        }
        @include respond-above(lg) {
          a {
            font-size: 55px;
          }
        }
        @include respond-above(sm) {
          display: block;
          margin-left: 0;
          line-height: 45px;
          &:first-child,
          &:last-child {
            margin-left: 0;
          }
          &:before {
            display: none;
          }
          a {
            font-size: 30px;
          }
        }
      }
      @include respond-above(sm) {
        margin-top: 100px;
      }
    }
    .facebook {
      color: $white;
      display: inline-block;
      font-size: 16px;
      line-height: 117.4%;
      margin-right: 50px;
      margin-top: 82px;
      opacity: 0.5;
      text-decoration: none;
      @include respond-above(sm) {
        margin-top: 30px;
      }
    }
  }
  &.active {
    transition: top ease-in-out 500ms;
    top: 0;
  }
}
