@import "../../static/css/function";
@import "../../static/css/variables";

// 404 page scss
.not-found {
  text-align: center;
  margin: 50px 0 100px 0;
  img {
    max-width: 650px;
  }
  h1 {
    color: $black;
    font-family: "Circe Light", sans-serif;
    font-weight: 300;
    font-size: 42px;
    line-height: 117.4%;
    @include respond-above(sm) {
      font-size: 30px;
    }
  }
  .back-btn {
    color: $descriptionText;
    font-family: "Circe", sans-serif;
    font-size: 17px;
    line-height: 117.4%;
    text-decoration: none;
    transition: color ease 500ms;
    i {
      background: url(/images/arr-left.svg) no-repeat;
      background-size: cover;
      display: inline-block;
      height: 11px;
      margin-right: 8px;
      width: 18px;
      transition: all ease 500ms;
    }
    &:hover {
      color: $blue;
      transition: color ease 500ms;
      i {
        background: url(/images/arr-left-blue.svg) no-repeat;
        transition: all ease 500ms;
      }
    }
  }
}
