@import "../../static/css/function";
@import "../../static/css/variables";

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #2c5de5;
    width: 72px;
    height: 72px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dot-div-blog {
    height: 5px;
    width: 5px;
    border-radius: 5px;
    border-color: $portfolioList;
    background-color: $portfolioList;
    margin-left: 10px;
    margin-right: 10px;
    // margin-top: 16px;
}
.blog-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.blog-top-icon {
    margin-right: 10px;
}
.blog-tags {
    font-size: 18px;
    color: $textColor;
    font-weight: normal;
}
.b-title {
    font-weight: 400;
    font-size: 55px;
    @include respond-above(md) {
        font-size: 20px;
    }
}
.top-left-item {
    margin-right: 27px;
}

.top-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.article-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    p,
    li {
        font-family: 'Circe Light', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        // padding: 0 13% 0 13%;
        max-width: 66.66%;
    }
    blockquote {
        max-width: 66.66%;
        p {
            max-width: 100%;
            font-family: 'Circe';
        }
    }
    .bq-half {
        max-width: 66.66%;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        padding: 50px 2% 50px 2%;
        background-color: #f9f8f3;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;

        p {
            max-width: 100%;
        }
    }
    .bq-full {
        width: 100%;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        padding: 50px 17% 50px 17%;
        background-color: #f9f8f3;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;

        p {
            max-width: 100%;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
    .heading {
        width: 66.66%;
        color: #1A191B;
        font-weight: 400;
        line-height: 34px;
        font-size: 30px;
        margin-bottom: 30px;
    }
}

.tag-holder {
    border-bottom-width: 6px;
    border-bottom-style: solid;
    border-bottom-color: #F5F6FA;

    span {
        color: #1A191B;
        opacity: 0.5;
        font-size: 16px;
        margin-right: 10px;
    }
}

.next-btn {
    p {
        font-size: 59px;
        color:#1A191B;
        font-weight: 400;
    }
}

.comments-holder {
    width: 100%;
    padding: 80px 0px 80px 0px;
    background-color: $footerBg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .comments-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
        border-bottom-width: 6px;
        border-bottom-style: solid;
        border-bottom-color: rgba(78, 79, 91, 0.3);
        p {
            color: $white;
            font-size: 32px;
            line-height: 39px;

            .cmt-number {
                font-size: 32px;
                color: $white;
                opacity: 0.3;
                margin-left: 10px;
            }
        }

        select {
            background: transparent;
            color: $white;
            font-size: 20px;
            border: none;
            box-shadow: none;
            outline: none;

            option {
                background-color: $white;

            }
        }
    }

    .comment-body {
        display: flex;
        justify-content: center;
        align-items: center;

        .cmt-body {

            .cmt-obj {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                .cmt-top {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    .cmt-img {
                        height: 40px;
                        width: 40px;
                        border-radius: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                    }
                    .cmt-author {
                        font-size: 22px;
                        color: $white;
                        font-weight: normal;
                        margin-bottom: 5px;
                    }
                    .cmt-time {
                        font-size: 18px;
                        color: $white;
                        opacity: 0.5;
                        margin-top: 5px;
                    }
                }
                .cmt-text {
                    font-size: 20px;
                    color: $white;
                    opacity: 0.7;
                }
                .cmt-reply {
                    p {
                        font-size: 16px;
                        color: 16px;
                    }
                }
            }
        }
    }
}
