@import "../../static/css/function";
@import "../../static/css/variables";

#blog-main {
    padding-bottom: 321px;
}

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #2C5DE5;
    width: 72px;
    height: 72px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.top-title {
    font-family: "Circe Light";
    font-size: 47px;
    margin: 10px;
}

.b-outer {
    display: flex;
    flex-direction: column;
}

.b-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 83px;
    width: 100%;

    @include respond-above(md) {
        margin-bottom: 35px;
    }
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.loader-container-mini{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
}

.featured-image-container {
    width: 100vw;
    height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @include respond-above(md) {
        width: 100vw;
    }

}
.feat-image {
    width: 100%;
    height: auto;
    opacity: 0.9;
}
.b-overlay-container {
    position: relative;
    
    .b-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .col-md-8 {
            margin-top: 18%;

            @include respond-above(md) {
                margin-top: 10%;
            }
        }

        .overlay-top {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .featured-text {
                background-color: $blue;
                padding: 10px 19px 10px 19px;
                p {
                    color: $white;
                    font-size: 20px;
                    font-weight: 400;
                    padding: 0px;
                    margin: 0px;

                    @include respond-above(md) {
                        font-size: 14px;
                    }
                }
            }

            .feat-topic {
                font-size: 20px;
                color: $white;
                font-weight: 400;
                margin-left: 27px;
                
                @include respond-above(md) {
                    font-size: 14px;
                }
                &::after {
                    content: ".";
                    color: $white;
                    font-size: 48px;
                    position: absolute;
                    bottom: 199px;
                    margin-left: 14px;
                }
            }
            .feat-date {
                font-size: 20px;
                color: $white;
                font-weight: 400;
                margin-left: 40px;
                
                @include respond-above(md) {
                    font-size: 14px;
                }
            }
        }
        .feat-title {
            font-size: 59px;
            color: $white;
            font-weight: 400;

            @include respond-above(md) {
                font-size: 20px;
            }
        }
    }
}

.b-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .b-top-left {
        display: flex;
    }

    .b-top-right {
        display: flex;
    }
}