@import "../../static/css/function";
@import "../../static/css/variables";

//Contact scss
.contact {
  font-family: "Circe Light", sans-serif;
  color: $black;
  margin-bottom: 206px;
  h1 {
    font-weight: 300;
    font-size: 47px;
    line-height: 117.4%;
    margin-bottom: 83px;
    @include respond-above(sm) {
      font-size: 30px;
    }
  }
  .form-wrap {
    max-width: 530px;
    margin-left: 23vw;
    h3 {
      font-size: 26px;
      font-weight: 300;
      line-height: 117.4%;
    }
    p {
      color: $textColor;
      font-weight: 300;
      font-size: 18px;
      line-height: 117.4%;
      margin-bottom: 59px;
    }
    form {
      font-family: "Circe Light", sans-serif;
      font-weight: 300;
      font-size: 16px;
      line-height: 117.4%;
      input[type="text"],
      input[type="email"] {
        background: transparent;
        border: none;
        border-bottom: 1px solid rgba($descriptionText, 0.5);
        height: 26px;
        padding-left: 0;
        width: 252px;
        &:focus {
          outline: none;
          &::placeholder {
            color: transparent;
          }
        }
      }
      .input-wrapper {
        display: inline-block;
        position: relative;
        input,
        textarea {
          &:valid + .placeholder {
            display: none;
          }
          &:focus + .placeholder {
            display: none;
          }
        }
        .placeholder {
          position: absolute;
          top: 1px;
          left: 2px;
          z-index: -1;
          &:before {
            content: attr(data-placeholder);
            color: rgba($textColor, 0.6);
          }
          &:after {
            content: " ";
            background: $blue;
            border-radius: 50%;
            width: 4px;
            height: 4px;
            display: inline-block;
            position: relative;
            top: -9px;
            left: 5px;
          }
        }
      }
      .textarea-wrap {
        margin-bottom: 21px;
        margin-top: 59px;
        textarea {
          background: transparent;
          border: none;
          border-bottom: 1px solid rgba($descriptionText, 0.5);
          height: 26px;
          padding-left: 0;
          resize: none;
          width: 100%;
          &:focus {
            outline: none;
          }
        }
      }
      .round {
        position: relative;
        label {
          color: rgba($descriptionText, 0.6);
          cursor: pointer;
          font-size: 14px;
          line-height: 117.4%;
          padding-left: 5px;
          span {
            background-color: $white;
            border: 1px solid $descriptionText;
            border-radius: 50%;
            cursor: pointer;
            height: 14px;
            left: 0;
            position: absolute;
            top: 0;
            width: 14px;
            &:after {
              content: "";
              background: $descriptionText;
              border-radius: 50%;
              height: 8px;
              left: 2px;
              opacity: 0;
              position: absolute;
              top: 2px;
              width: 8px;
            }
          }
          a {
            color: $descriptionText;
            font-family: "Circe", sans-serif;
          }
        }
        input[type="checkbox"] {
          visibility: hidden;
          &:checked + label span:after {
            opacity: 1;
          }
        }
      }
      button {
        border: none;
        background: none;
        color: $textColor;
        cursor: pointer;
        font-family: "Circe", sans-serif;
        font-size: 18px;
        line-height: 117.4%;
        margin-top: 54px;
        padding: 0;
        position: relative;
        transition: all ease 500ms;
        &:after {
          content: "";
          border: 1px solid $black;
          position: absolute;
          left: 0;
          bottom: -7px;
          display: block;
          width: 100%;
          transition: all ease 500ms;
        }
        &:focus {
          border: none;
          background: none;
          outline: none;
        }
        &:hover {
          color: $blue;
          transition: all ease 500ms;
          &:after {
            border: 1px solid $blue;
            transition: all ease 500ms;
          }
        }
      }
      .error-msg {
        color: $red;
        font-size: 14px;
        margin-bottom: 0;
      }
    }
    .contact-btm {
      p {
        color: $black;
        font-size: 26px;
        line-height: 117.4%;
        margin-bottom: 20px;
        margin-top: 100px;
      }
      a {
        color: $textColor;
        font-family: "Circe", sans-serif;
        font-size: 49px;
        line-height: 117.4%;
        position: relative;
        transition: all ease 500ms;
        text-decoration: none;
        &:after {
          border: 2px solid $textColor;
          content: "";
          position: absolute;
          left: 0;
          bottom: 0px;
          display: block;
          width: 100%;
          transition: all ease 500ms;
        }
        &:hover {
          color: $blue;
          transition: all ease 500ms;
          &:after {
            border: 2px solid $blue;
            transition: all ease 500ms;
          }
        }
        @include respond-above(sm) {
          font-size: 30px;
        }
      }
    }
    @include respond-above(md) {
      margin-left: 10vw;
    }
    @include respond-above(sm) {
      margin-left: 0;
      form {
        input[type="text"],
        input[type="email"] {
          width: 100%;
        }
        .d-flex {
          flex-direction: column;
          input[type="text"] {
            margin-bottom: 59px;
          }
        }
      }
    }
  }
}
