@import "../../../static/css/function";
@import "../../../static/css/variables";

/* Footer */
.footer {
  background: $footerBg;
  padding: 111px 0 26px 0;
  font-family: "Circe Light", sans-serif;
  &_left {
    margin-right: 226px;
    &_title {
      color: $footerTitle;
      display: block;
      font-weight: 300;
      font-size: 29px;
      line-height: 117.4%;
      letter-spacing: -0.005em;
    }
    &_link {
      color: $white;
      display: block;
      font-weight: 300;
      font-size: 79px;
      line-height: 117.4%;
      letter-spacing: -0.005em;
      margin-top: 22px;
      position: relative;
      text-decoration: none;
      &:after {
        content: "";
        border: 3px solid $white;
        position: absolute;
        bottom: -8px;
        left: 0;
        opacity: 0;
        transition: all ease 500ms;
        width: 0%;
      }
      &:hover {
        &:after {
          opacity: 1;
          transition: all ease 500ms;
          width: 100%;
        }
      }
    }
    @include respond-above(lg) {
      margin-right: 150px;
      &_link {
        display: inline;
        font-size: 45px;
      }
    }
    @include respond-above(sm) {
      margin-right: 0;
    }
    @include respond-above(xs) {
      &_link {
        font-size: 30px;
      }
    }
  }
  &_right {
    &_title {
      color: $white;
      display: block;
      font-size: 18px;
      line-height: 117.4%;
      margin-bottom: 15px;
      opacity: 0.61;
    }
    &_description {
      color: $white;
      display: block;
      font-size: 22px;
      line-height: 136.4%;
      margin-bottom: 58px;
      a {
        color: $white;
        text-decoration: none;
      }
    }
    .facebook {
      color: $white;
      display: block;
      font-size: 16px;
      line-height: 117.4%;
      margin-top: -33px;
      opacity: 0.61;
      text-decoration: none;
    }
    @include respond-above(sm) {
      margin-top: 100px;
    }
  }
  &_bottom {
    color: $copyrightColor;
    font-size: 14px;
    line-height: 117.4%;
    margin-top: 94px;
    opacity: 0.5;
    a {
      color: $copyrightColor;
      display: inline-block;
      margin-left: 50px;
      text-decoration: none;
    }
    @include respond-above(xs) {
      text-align: center;
      a {
        display: block;
        margin-top: 10px;
        margin-left: 0;
      }
    }
  }
}
