.cmt-body {
    // width: 66.66%;
    padding-top: 70px;

    .depth- {
        &0 {
        }
        &1 {
            padding-left: 10%;
            border-left-width: 5px;
            border-left-color: $white;
            border-left-style: solid;
        }
        &2 {
            padding-left: 5%;
            border-left-width: 3px;
            border-left-color: $white;
            border-left-style: solid;
        }
    }
    .cmt-obj {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 40px 0 40px 0;
        width: 100%;
        .cmt-top {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .cmt-img {
                height: 70px;
                width: 70px;
                border-radius: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                margin-right: 22px;
                img {
                    height: 70px;
                    width: 70px;
                }
            }
            .cmt-author {
                font-size: 22px;
                color: $white;
                font-weight: normal;
                margin-bottom: 10px;
            }
            .cmt-time {
                font-size: 18px;
                color: $white;
                opacity: 0.5;
                margin: 10px 0 5px 0;
            }
        }
        .cmt-text {
            font-size: 20px;
            color: $white;
            opacity: 0.7;
            width: 100%;
            p {
                margin: 15px 0px 15px 0px;
            }
        }
    }
    .cmt-reply-holder {
        width: 80%;
        position: relative;
        .send-btn {
            color: $white;
            font-size: 18px;
            margin-top: 52px;
            position: relative;
            width: 60px;
            cursor: pointer;
            opacity: 0.7;
            transition: all 0.5s ease;
            &:hover {
                opacity: 1;
            }
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -10px;
                border-style: solid;
                width: 100%;
                border-color: $white;
                border-width: 1px;
                height: 2px;
                opacity: 1;
            }
        }
        textarea {
            margin-top: 40px;
            font-size: 22px;
            color: $white;
            resize: none;
            min-height: 50px;
            background-color: transparent;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: $white;
            width: 100%;
            border-top-style: none;
            border-left-style: none;
            border-right-style: none;
            outline: none;
        }
        .cmt-reply {
            cursor: pointer;

            p {
                font-size: 16px;
                color: $white;
            }
        }

        .opaque-bg {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 100;
            background-color: rgba(0,0,0,0.3);
        }
        .cancel-holder {
            position: absolute;
            top: 0px;
            right: 0px;
            height: 40px;
            width: 40px;
            cursor: pointer;display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }
    }
    .reply-global {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: 100px;
        border-top-color: rgba(78,79,97,0.3);
        border-top-style: solid;
        border-top-width: 4px;
        width: 80%;
        p {
            color: $white;
            font-weight: 700;
            font-size: 32px;
        }
    }
}
