@import "../../../static/css/function";
@import "../../../static/css/variables";

/* Work */
.Work {
  .section-title {
    margin-bottom: 30px;
  }

  .img-height{
    height:auto;
  }

  &_list {
    display: block;
    margin-bottom: 100px;
    text-decoration: none;
    &_title {
      color: $black;
      font-size: 28px;
      line-height: 117.4%;
      margin-top: 32px;
    }
    &_description {
      color: $descriptionText;
      font-family: "Circe Light", sans-serif;
      font-weight: 300;
      font-size: 22px;
      line-height: 117.4%;
      margin-top: 11px;
      opacity: 0;
      transition: opacity ease-out 0.4s;
    }
    @include respond-above(sm) {
      margin-bottom: 30px;
    }
  }

  .media-container {
    position: relative;
    overflow: hidden;
    .open-case {
      align-items: center;
      background: $blue;
      border-radius: 50%;
      color: $white;
      display: flex;
      font-family: "Circle Light", sans-serif;
      font-size: 18px;
      line-height: 100.9%;
      height: 91px;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: opacity ease 500ms;
      width: 91px;
      z-index: 99;
    }
    &:hover {
      .open-case {
        opacity: 1;
        transition: opacity ease 500ms;
      }
    }
  }

  @include respond-above(sm) {
    // margin-top: 50px;
  }

  .see-more-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .see_more {
    display: inline-block;
    font-family: "Circe", sans-serif;
    font-size: 28px;
    line-height: 117.4%;
    color: $descriptionText;
    opacity: 0.5;
    margin-bottom: 0px;
    text-decoration: none;
    position: relative;
    transition: all ease 500ms;
    &:after {
      content: "";
      border: 1px solid $descriptionText;
      position: absolute;
      bottom: -8px;
      left: 0;
      transition: all ease 500ms;
      width: 100%;
      opacity: 0.5;
    }
    &:hover {
      opacity: 1;
      &:after {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width:1100px){
.Work{
  .see_more{
    font-size: 25px;
    // margin-bottom: 20px;
  }}
}

@media screen and (max-width:600px){
  .Work{
    max-height: 500px;
    .see_more{
      font-size: 20px;
      // margin-bottom: 35px;
    }
  }
}

@media screen and (max-width:1100px){
  .Work{
    max-height: 800px;
    .see_more{
      font-size: 20px;
      // margin-bottom: 35px;
    }
  }
}


.Work_list {
    video {
      width: 100%;
      height: auto;
    }
    img {
      width: 100%;
      height: auto;
    }
    @include respond-above(sm) {
      margin-left: -15px;
      margin-right: -15px;
    }
}


.Portfolio {
  &_banner {
    min-height: 641px;
    @include respond-above(sm) {
      min-height: 400px;
    }
    h1 {
      color: $textColor;
      font-family: "Circe Light", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 69px;
      line-height: 126.9%;
      width: 90%;
      margin: 0 auto;
      @include respond-above(sm) {
        font-size: 30px;
      }
    }
  }
  &_services {
    padding: 50px 0;
    .title {
      color: $textColor;
      font-family: "Circe", sans-serif;
      font-size: 24px;
      line-height: 121.4%;
      opacity: 0.5;
      &_desc {
        color: $textColor;
        font-family: "Circe Light", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 49px;
        line-height: 121.4%;
        // margin: 11px 0 0 0;
        max-width: 897px;
        @include respond-above(sm) {
          font-size: 25px;
        }
      }
    }
    &_btm {
      margin-top: 100px;
      h4 {
        color: $textColor;
        font-family: "Circe", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 121.4%;
        margin: 0;
        @include respond-above(sm) {
          font-size: 18px;
        }
      }
      ul {
        list-style: none;
        margin: 10px 0 62px 0;
        padding: 0;
        li {
          color: $textColor;
          font-family: "Circe Light", sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 164.4%;
        }
      }
    }
    &.manifesto {
      .title {
        color: $white;
        &_desc {
          color: $white;
        }
      }
      h4 {
        font-family: "Circe Light", sans-serif;
        font-weight: 300;
        color: $white;
        opacity: 0.5;
        margin-bottom: 29px;
        transition: all ease 500ms;
        &:hover {
          opacity: 1;
          transition: all ease 500ms;
        }
      }
    }
  }
  &_slider {
    padding-bottom: 50px;
    .slick-slider {
      // margin-right: -15px;
      overflow: hidden;
      @include respond-above(sm) {
        // margin-right: 0;
      }
      .slick-arrow {
        display: none !important;
      }
    }
    .slick-list {
      // margin-right: -95px;
      @include respond-above(md) {
        // margin-right: -50px;
      }
    }
    .slick-slide > div {
      // margin-right: 50px;
      @include respond-above(md) {
        // margin-right: 25px;
      }
    }
    .slider-wrap {
      position: relative;
      .button {
        height: 100%;
        position: absolute;
        top: 0;
        width: 35%;
        opacity: 0;
        &-prev {
          left: 0;
          cursor: url("../../../static/images/long-arrow-left.svg"),
            url("../../../static/images/long-arrow-left.svg"), default;
        }
        &-next {
          right: 0;
          cursor: url("../../../static/images/long-arrow-right.svg"),
            url("../../../static/images/long-arrow-right.svg"), default;
        }
      }
    }
    @include respond-above(sm) {
      padding-bottom: 0;
    }
  }
}

