@import "../../../static/css/function";
@import "../../../static/css/variables";

/* Work */
.Work {
  margin-left: 100px;
  // margin-top: 100px;
  .section-title {
    margin-bottom: 73px;
  }

  .swiper-slider{
    width: 90%;
    height: 900px;
  }

  .img-height{
    height: 700px;
  }
  @media screen and (max-width:1100px) {
    .img-height{
      height: 722px;
    }
  }
  @media screen and (max-width:1700px) {
    .img-height{
      height: 640px;
    }
  }
  &_list {
    display: block;
    margin-bottom: 238px;
    text-decoration: none;
    &_title {
      color: $black;
      font-size: 28px;
      line-height: 117.4%;
      margin-top: 32px;
    }
    &_description {
      color: $descriptionText;
      font-family: "Circe Light", sans-serif;
      font-weight: 300;
      font-size: 22px;
      line-height: 117.4%;
      margin-top: 11px;
      opacity: 0;
      transition: opacity ease-out 0.4s;
    }
    @include respond-above(sm) {
      margin-bottom: 60px;
    }
  }
  .media-container {
    position: relative;
    overflow: hidden;
    .open-case {
      align-items: center;
      background: $blue;
      border-radius: 50%;
      color: $white;
      display: flex;
      font-family: "Circle Light", sans-serif;
      font-size: 18px;
      line-height: 100.9%;
      height: 91px;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: opacity ease 500ms;
      width: 91px;
      z-index: 99;
    }
    &:hover {
      .open-case {
        opacity: 1;
        transition: opacity ease 500ms;
      }
    }
  }
  @include respond-above(sm) {
    margin-top: 100px;
  }
  .see-more-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .see_more {
    display: inline-block;
    font-family: "Circe", sans-serif;
    font-size: 28px;
    line-height: 117.4%;
    color: $descriptionText;
    opacity: 0.5;
    margin-bottom:px;
    text-decoration: none;
    position: relative;
    transition: all ease 500ms;
    &:after {
      content: "";
      border: 1px solid $descriptionText;
      position: absolute;
      bottom: -8px;
      left: 0;
      transition: all ease 500ms;
      width: 100%;
      opacity: 0.5;
    }
    &:hover {
      opacity: 1;
      &:after {
        opacity: 1;
      }
    }
  }

  // @media screen and (max-width:1100px){
  //   .see-more-wrapper{
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //   }

  // }
  // @media screen and (min-width:700px){
  //   .see-more-wrapper{
  //     display: flex;
  //     align-items: center;
  //     justify-content: start;
  //   }

  // }
  // @media screen and (min-width:750px){
  //   .see_more{
  //     margin-left:200px;
  //   }

  // }

}
@media screen and (max-width:1100px){
.Work{ margin-left: 50px;
  .see_more{
    font-size: 25px;
    margin-bottom: 20px;
  }}
}
@media screen and (max-width:600px){
  .Work{ margin-left: 20px;
    max-height: 500px;
    .see_more{
      font-size: 20px;
      margin-bottom: 35px;
    }
    .img-height{
      height: 190px;
    }
  }
  }

  @media screen and (max-width:1100px){
    .Work{ margin-left: 20px;
      max-height: 800px;
      .see_more{
        font-size: 20px;
        margin-bottom: 35px;
      }
      .img-height{
        height: 470px;
      }
    }
    }
.Work_list {
  &:hover {
    .Work_list_description {
      opacity: 0.7;
      transition: opacity ease-in 0.4s;
    }
  }
}
